<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Brew Guides</h1>

  <h3>Select a brew guide below</h3>
	<ul>
  <% brewguides.forEach(brewguide => { %>
    <div class="text-">
      <a href="/brewguides/<%= brewguide._id %>"><%= brewguide.name %></a>
    </div>

  <% }) %>
  </ul>

  <% if (user) { %> 
     <div>
       <a href="/brewguides/new">Add</a>
     </div>
   <% } %>

</section>

<%- include('../partials/footer') %>