<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Brew Guides</h1>
	<ul>
  <% brewguides.forEach(brewguide => { %>
    <li>
      <a href="/brewguides/<%= brewguide._id %>"><%= brewguide.name %></a>
    </li>
  <% }) %>
  </ul>

  <% if (user) { %> 
     <div>
       <a href="/brewguides/new">Add</a>
     </div>
   <% } %>

</section>

<%- include('../partials/footer') %>