<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="window">
  <h1>Brew Guides</h1>

  <div class="content">
    <h3>Select a brew guide</h3> 
    <br>
    <% brewguides.forEach(brewguide => { %>
      <div class="content-links">
        <a href="/brewguides/<%= brewguide._id %>"><%= brewguide.name %></a>
      </div>
    <% }) %>
    <br>
    <% if (user) { %> 
      <div>
        <a href="/brewguides/new"><button type="button" class="add-btn btn btn-light">Add a Brew Guide</button></a>
      </div>
    <% } else { %>
      <p><strong>Login to add a brew guide!</strong></p>
    <% } %> 
  </div>
</div>
<%- include('../partials/footer') %>