<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section></section>
  <h1><%= brewguide.name %></h1>
  <h3>From the cafe of <%= brewguide.owner.name %></h3>
</section>

<%- include('../partials/footer') %>