<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Brewguide created by <%= brewguide.owner.name %></h1>
  <h3><%= brewguide.name %></h3>
  <% if (brewguide.owner.equals(user?.profile._id)) { %>
    <form action="/brewguides/<%= brewguide._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this brewguide</button>
    </form>
    <form action="/brewguides/<%= brewguide._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete brewguide</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>