<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <!-- <h1>Brewguide created by <%= brewguide.owner.name %></h1> -->
  <h1>Brew Guides</h1>
  
  <section>
    <h3><%= brewguide.name %></h3>
    <div>Brew Device: <%= brewguide.brewdevice %></div>
    <div>Grind Size: <%= brewguide.grindsize %></div>
    <div>Grams of Coffee: <%= brewguide.gramsofcoffee %></div>
    <div>Water Temp: <%= brewguide.watertemp %></div>
    <div>Total Brew Time: <%= brewguide.brewtime %></div>
  </section>

  <% if (brewguide.owner.equals(user?.profile._id)) { %>
    <form action="/brewguides/<%= brewguide._id %>/edit" method="GET">
      <button type="submit" class="btn btn-secondary">Edit</button>
    </form>
    <form action="/brewguides/<%= brewguide._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-secondary">Remove</button>
    </form>
  <% } %>
</section>

<% if (brewguide.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Comments</th>
        <th>Ratings</th>
      </tr>
    </thead>
    <tbody>
      <% brewguide.reviews.forEach(function(review) { %>
        <tr>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
          <td>
          <% if (brewguide.owner.equals(user?.profile._id)) { %>
            <form action="/brewguides/<%= brewguide._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button type="" class="btn btn-secondary">Delete Comment</button>
            </form>
          <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>




<% } else { %>
  <h3>No Comments Yet</h3>
<% } %>


<% if (user) { %>  
  <form action="/brewguides/<%= brewguide._id %>/review" method="GET">
    <button type="submit" class="btn btn-secondary">Add a comment</button>
  </form>
  <% } %>

<%- include('../partials/footer') %>